<section class="featured featured--container">
    <h2 class="featured__title">Our Travel Maps</h2>

    <div class="featured__products">
        {{#each featuredProducts as |product|}}
            <div class="featured__product">
                <picture class="featured__picture">
                    <img src="{{product.image}}" alt="{{product.imageAlt}}" class="featured__image">
                </picture>
                <a class="featured__link" href="{{product.slug}}">{{product.title}}</a>
                <span class="featured__price">{{product.price}}</span>
            </div>
        {{/each}}
    </div>

    <a href="#" class="featured__cta">View all</a>
</section>
